<div class="dashboard bg-gray-500 text-center text-white">
	{{#boards}}
	<div class="board">
		<div class="board__id">{{ id }}</div>
		<div class="board__name">{{ name }}</div>
	</div>
	{{/boards}}
</div>
